{% extends "base.html" %}
{% set css_file = 'user/services/forgot_password.css' %}
{% block content %}
    <main id="container-main">
        <h1>Esqueci a Senha</h2>
        <form id="form-content" action="{{ url_for('user.forgot_password') }}" method="POST" onsubmit="showLoader()">
            <label for="email">Digite seu email</label>
            <input class="lead-input-select" type="email" name="email" placeholder="Seu E-mail" required>
            <button class="send-btn" type="submit">Enviar Código</button>
        </form>
    </main>
{% endblock %}
