{% extends "base.html" %}
{% set css_file = 'leads_manager/services/import_leads.css' %}
{% block content %}
    <div id="container-main">
        <h1>Importar Leads em Massa</h1>
        <form id="form-content" method="POST" action="{{ url_for('leads.import_leads') }}" enctype="multipart/form-data" onsubmit="showLoader()">
            <label for="empresa_id">Selecione a Empresa:</label>
            <select class="lead-input-select" name="empresa_id" id="empresa_id" required>
                <option value="">-- Selecione uma Empresa --</option>
                {% for empresa in empresas %}
                    <option value="{{ empresa.id }}">{{ empresa.nome }}</option>
                {% endfor %}
            </select>

            <label for="file">Escolha um arquivo (.xlsx ou .csv):</label>
            <input class="lead-input-select" type="file" name="file" id="file" required>

            <button class="add-lead-btn" type="submit">Importar Leads</button>
        </form>
    </div>
{% endblock %}
