#container-main {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    max-width: 400px;
    flex-wrap: wrap;
}

#container-main h1 {
    font-size: 2rem;
    font-weight: bold;
}

#form-content {
    max-width: 350px;
    min-width: 300px;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#form-content label {
    margin-top: 20px;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 1rem;
}

input {
    border: none;
}

.lead-input-select {
    min-width: 200px;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    text-align: center;
    border: 1px black solid;
    border-radius: 5px;
    cursor: pointer;
}

.add-lead-btn {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #c82333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-lead-btn:hover {
    background-color: #c82333;
}