{% extends "base.html" %}
{% set css_file = 'calls.css' %}
{% block content %}
    <div>
        <section id="section-title">
            <h1 id="title-page">Painel de Ligações!</h1>
            <h2 id="company-title">Você está na empresa '{{ company.nome }}'</h2>
        </section>

        <!-- Exibir formulário de seleção de empresa apenas para donos -->
        {% if current_user.role != 'employee' %}
        <form id="select-company" method="GET" action="{{ url_for('calls') }}" onsubmit="showLoader()">
            <label for="company" id="label-leads-select">Selecionar Empresa:</label>
            <select name="company_id" id="company" onchange="this.form.submit()">
                {% for company in companies %}
                    <option value="{{ company.id }}" {% if company.id == selected_company.id %}selected{% endif %}>
                        {{ company.nome }}
                    </option>
                {% endfor %}
            </select>
        </form>
        {% endif %}
        
        <!-- Botão para abrir o modal -->
        <button type="button" onclick="openModal()">Gerenciar Lead</button>

        <!-- Modal para exibir e gerenciar o lead -->
        {% if user_lead %}
            <div id="leadModal" style="display:none;" onsubmit="showLoader()">
                <h3>Gerenciando Lead</h3>
                <form method="POST">
                    <label for="nome">Nome:</label>
                    <input type="text" name="nome" id="nome" value="{{ user_lead.nome }}" required>

                    <label for="telefone">Telefone:</label>
                    <input type="text" name="telefone" id="telefone" value="{{ user_lead.telefone }}" required>

                    <label for="veiculo">Veículo:</label>
                    <input type="text" name="veiculo" id="veiculo" value="{{ user_lead.veiculo }}" required>

                    <label for="comentario">Comentário:</label>
                    <textarea name="comentario" id="comentario" required>{{ user_lead.comentario }}</textarea>

                    <button type="submit" name="action" value="finalize">Finalizar</button>
                    <button type="submit" name="action" value="cancel">Cancelar Lead</button>
                    <button type="submit" name="action" value="move_to_end">Mover ao final da fila</button>
                </form>
            </div>
        {% endif %}
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        function openModal() {
            document.getElementById('leadModal').style.display = 'block';
        }

        // Função para exibir o carregador ao enviar o formulário
        function showLoader() {
            document.getElementById('loader').style.display = 'block';
        }
    </script>
{% endblock %}
