{% extends "base.html" %}
{% set css_file = 'calls.css' %}
{% block content %}
    <div>
        <section id="section-title">
            <h1 id="title-page">Painel de Ligações!</h1>
            <h2 id="company-title">Você está gerenciando a empresa '{{ company.nome }}'</h2>
        </section>
        
        <!-- Formulário para selecionar a empresa -->
        <form id="select-company" method="GET" action="{{ url_for('calls') }}" onsubmit="showLoader()">
            <label for="company" id="label-leads-select">Selecionar Empresa:</label>
            <select name="company_id" id="company" onchange="this.form.submit()">
                {% for company in companies %}
                    <option value="{{ company.id }}" {% if company.id == selected_company.id %}selected{% endif %}>
                        {{ company.nome }}
                    </option>
                {% endfor %}
            </select>
        </form>
        
        <!-- Seção do Dashboard -->
        <section id="dashboard" style="max-width: 400px; margin: auto;">
            <h3>Status dos Leads</h3>
            <canvas id="leadsStatusChart" width="400" height="400"></canvas>
        </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('leadsStatusChart').getContext('2d');
        const leadsStatusChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Pendente', 'Em Progresso', 'Concluído', 'Cancelado'],
                datasets: [{
                    label: 'Status dos Leads',
                    data: [
                        {{ status_counts['pending'] }},
                        {{ status_counts['in_progress'] }},
                        {{ status_counts['completed'] }},
                        {{ status_counts['cancelled'] }}
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Distribuição dos Status dos Leads'
                    }
                }
            }
        });
    </script>
{% endblock %}
